
// Custom transition
@mixin shared_customTransition($property, $duration: 0.5s, $timing: cubic-bezier(0.23,1,0.32,1)) {
	-webkit-transition: $property $duration $timing;
	-moz-transition: $property $duration $timing;
	-ms-transition: $property $duration $timing;
	-o-transition: $property $duration $timing;
	transition: $property $duration $timing;
}

//@include shared_customTransition(all, 1s);