@import "../mixins";
@import "../variables";

$slider-list: operations design speaking development manufacturing change-management product-management curriculum-design;

.slider {
  div{
    background-image: url('../../img/idea_factory.svg');
    background-repeat: no-repeat;
    height: 80px;
  }
  h3{
    padding-top: 100px;
  }
}

