include ../mixins.jade

//- mixin publicity(title, date, type, url, source)

section.col-xs-12.col-sm-12.col-md-6.projectContainer
	+project-tile("publicity social-impact", "The Limited")
	+project-tile("publicity curriculum-design social-impact", "Engineers Can be Fashionable")
	+project-tile("publicity", "GA")
	+project-tile("design", "Welding")
	+project-tile("publicity organizational-change social-impact", "YPN")
	+project-tile("design", "Backpack holder")
	+project-tile("design curriculum-design social-impact", "JCD")
	+project-tile("design strategy", "Welding")
	+project-title("design strategy", "Pepsi")
	+project-title("strategy", "Refresh")
	+project-title("design strategy operations", "Rotary")
	+project-tile("dev social-impact", "Lady Mafia")
	+project-tile("dev social-impact", "Kindlies")
	+project-tile("operations organizational-change", "Continuous Improvement")
	+project-tile("dev", "VCBruce.com")
	+project-tile("dev social-impact", "Proud2Share")
	+project-tile("dev", "VCBruce.com")

	include ../projects/publicity.jade


