include ../mixins.jade

section.project-cards.col-xs-12.col-sm-8
	.row
		+project-overview('Operations')
		+project-overview('Product Design & Design Research')
		+project-overview('Product Development')
		+project-overview('Operations & Product Management')
		+project-overview('Social Impact')
		+project-overview('Web Development')


