include ../mixins.jade
section.col-xs-12.col-sm-12.col-md-6
	.project-links
		+project-link('Product Design & User Research','design')
		+project-link('Operations & Process design','operations')
		+project-link('Web Development','development')
		+project-link('Social Impact','social-impact')
		+project-link('Curriculum Design','curriculum-design')
		+project-link('Speaking & Publicity','speaking')
		+project-link('Systems Design & Organizational Change','organizational-change')
