include ../mixins.jade
section.col-xs-12.col-sm-12.col-md-6
	.category_links
		+category_link('Product Design & User Research','design')
		+category_link('Operations & Process design','operations')
		+category_link('Web Development','dev')
		+category_link('Product Development & Market Research','strategy')
		+category_link('Social Impact','social-impact')
		+category_link('Curriculum Design','curriculum-design')
		+category_link('Systems Design & Organizational Change','organizational-change')
		br
		+category_link('Speaking & Publicity','publicity')

