include ../mixins.jade

.slider
	+slide('Operations','operations')
	+slide('Human-Centered Design','design')
	+slide('Speaking','speaking')
	+slide('Web Development & Design','development')
	+slide('Manufacturing','manufacturing')
	+slide('Change Management','change-management')
	+slide('Product Management','product-management')
	+slide('Curriculum Design','curriculum-design')
