// Bootstrap Variables
$break-xs: "min-width: 425px";
$break-sm: "min-width: 768px";
$break-md: "min-width: 992px";
$break-lg: "min-width: 1200px";
$break-xl: "min-width: 1700px";

// Padding Variables
$container-padding: 15px; // Desktop * 2

// Color Variables
$primary: black;
$secondary: slategrey;
$accent-light: $secondary;
