doctype html
html
	include includes/head.jade
	body
		//- include includes/modules/navbar.jade
		.container-fluid
			h1 I can't stay away from a good problem.
			include includes/modules/sidebar.jade
			include includes/modules/browse_projects.jade
		section.footer
	include includes/scripts.jade
