doctype html
html
	include includes/head.jade
	body
		//- include includes/modules/navbar.jade
		.container-fluid
			include includes/modules/sidebar.jade
		
		section.footer
	include includes/scripts.jade