doctype html
html
	head
		title Component Bank
		link(href='css/libs/bootstrap.min.css', rel='stylesheet')
		link(href='css/min/style.min.css', rel='stylesheet')
	body
		section.header
		section.container.tab-module
			.row
				.col-xs-12
					h1 title
		section.footer
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="js/min/app.js")
		script(src="js/min/tabModule.js")
	
