doctype html
html
	include includes/head.jade
	body
		section.header
		section.container.waves-module
			.row
				.col-xs-12
					h1 waves
					p.data
		section.footer
	include includes/scripts.jade
	
