body {
  padding-top: 70px; }

.container {
  padding-top: 15px;
  padding-bottom: 15px; }
  @media only screen and (min-width: 768px) {
    .container {
      padding-top: 30px;
      padding-bottom: 30px; } }

section {
  border: 2px solid lightblue; }

/* partials */
.publicity {
  margin-bottom: 20px; }
  .publicity a {
    color: black; }
  .publicity small {
    color: slategrey; }
  .publicity h4 {
    margin-top: 5px; }
