doctype html
html
	head
		title Component Bank
		link(href='css/lib/bootstrap.min.css', rel='stylesheet')
		link(href='css/min/style.min.css', rel='stylesheet')
	body
	section.header
	section.container.tab-module
		.row
			.col-xs-12
				p test
	section.footer
	
