script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="js/libs/bootstrap.min.js")
script(src="js/libs/slick.min.js")
script(src="js/min/slider.js")
script(src="js/min/app.js")
